.navHeader {
  :global {
    .icon-back {
      color: #333333;
    }

    .am-navbar {
      background-color: transparent;
      :global(.am-navbar-title) {
        color: #333333;
      }
    }
  }
}
