// List 页面 顶部搜索导航 样式
.list {
  height: 100%;
}
.searchHeader {
  height: 45px;
  padding: 0 0 0 10px;
  background-color: #f6f5f6;

  :global {
    .iconfont {
      color: #999;
    }
  }
}
.listSearchHeader {
  position: relative;
  top: 0;
  height: 30px;
  padding: 0 10px 0 0;
  width: 100%;
  :global {
    .am-flexbox {
      height: 30px;
    }
    .icon-map {
      color: #00ae66;
    }
  }
}
