//2 右侧索引
.citylist {
  height: 100%;
}
.city-index {
  position: absolute;
  display: flex;
  flex-direction: column;
  right: 5px;
  top: 45px;
  z-index: 1;
  height: 90%;
  box-sizing: border-box;
  padding-top: 20px;
  text-align: center;
  .city-index-item {
    flex: 1;
  }
  .index-active {
    color: #fff;
    background-color: #21b97a;
    border-radius: 100%;
    display: inline-block;
    font-size: 12px;
    width: 15px;
    height: 15px;
    line-height: 15px;
  }
}

ul {
  li {
    list-style: none;
  }
}
